<div class="moves">
  @if (main(); as move) {
    <button
      pButton
      type="button"
      size="small"
      [attr.data-testid]="'move-' + move.to"
      (click)="start(move)"
      [disabled]="sending()"
    >
      @if (sending()) {
        <i class="pi pi-spinner pi-spin"></i>
      } @else {
        <i
          [class]="
            move.kind === 'done'
              ? 'pi pi-check'
              : move.kind === 'reopen' || move.kind === 'withdraw'
                ? 'pi pi-replay'
                : 'pi pi-arrow-right'
          "
        ></i>
      }
      {{ move.label }}
    </button>
  }
  @if (others().length > 0) {
    <button
      pButton
      type="button"
      size="small"
      severity="secondary"
      [outlined]="true"
      data-testid="more-moves"
      [iconOnly]="true"
      (click)="menu.toggle($event)"
      aria-label="More moves"
    >
      <i class="pi pi-ellipsis-h"></i>
    </button>
    <p-menu #menu [model]="others()" [popup]="true" appendTo="body" />
  }
</div>

<app-move-dialog [ticket]="ticket()" [request]="request()" (closed)="request.set(null)" />
